/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --bg-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-secundary: #a1a1aa;
  --text-color-primary: #f4f4f5;
  --brand-color-primary: #f7b733;
  --brand-color-secundary: #fc4a1a;
  --gradient: linear-gradient(
    90deg,
    var(--brand-color-secundary) 0%,
    var(--brand-color-primary) 100%
  );

  --ff-sans: "Inter", sans-serif;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;
}

@media (width >= 1280px) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-2xl: 4rem;
  }
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  letter-spacing: -0.04rem;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
}

/* classes utilitarias */
.container {
  max-width: 1280px;
  padding-inline: 2rem;
  margin-inline: auto;
  border: 1px solid pink;
}

/* navbar */
#navbar {
  padding-block: 1.5rem;
  border: 1px solid red;
  align-items: center;

  & #logo {
    margin-right: auto;
  }

  & #menu {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    a:hover {
      color: var(--brand-color-primary);
    }

    & button[type="button"] {
      border-radius: 8px;
      padding: 0.75rem 1.5rem;
      background-color: var(--text-color-primary);
      color: var(--bg-color);
      cursor: pointer;

      &:hover {
        background: var(--gradient);
      }
    }
  }
}

/* section hero */
#hero {
  border: 1px solid green;
  padding-top: 5rem;
  padding-bottom: 15rem;
  background: url(../assets/bg-hero-desktop.svg) no-repeat bottom center/contain;

  & main {
    text-align: center;
    margin-bottom: 5.6rem;

    & #content-hero {
      margin-bottom: 3rem;

      & img {
        margin-inline: auto;
        margin-bottom: 1.5rem;
      }

      & h1 {
        font: var(--fw-bold) 4rem/1.2 var(--ff-sans);
      }

      & p {
        margin-top: 1rem;
        font: var(--fw-md) 2.5rem/1.4 var(--ff-sans);
        color: var(--text-color-secundary);
      }
    }

    & #btn {
      display: flex;
      justify-content: center;
      gap: 1rem;

      & #primary-hero {
        padding: 1rem 2rem;
        border-radius: 8px;
        border: 1px solid var(--text-color-primary);
        cursor: pointer;

        &:hover {
          color: var(--brand-color-primary);
        }
      }

      & #secundary-hero {
        padding: 1rem 2rem;
        border-radius: 8px;
        background-color: var(--text-color-primary);
        color: var(--bg-color);
        cursor: pointer;

        &:hover {
          background: var(--gradient);
        }
      }
    }
  }
}

/* section about */
#about {
  border: 1px solid blue;
  padding-block: 5rem;
  gap: 2rem;
  align-items: center;
  background-color: var(--surface-color);

  & #content-about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & p#title {
      color: var(--brand-color-primary);
      text-transform: uppercase;
      font: var(--fw-md) 0.875rem/1 var(--ff-sans);
      letter-spacing: 8%;
    }

    & h1 {
      font: var(--fw-bold) 3rem/1.4 var(--ff-sans);
      letter-spacing: -4%;
    }

    & p {
      font: 400 1rem/1.6 var(--ff-sans);
      color: var(--text-color-secundary);
    }
  }
}

/* section features */
#features {
  padding-block: 5rem;

  & #features-primary {
    & div {
      border: 1px solid white;
      height: 25rem;
    }

    & #feature-1 {
      padding: 2.5rem 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      width: 17.5rem;
      height: 25rem;

      & img {
        margin-bottom: 1rem;
      }

      & h2 {
        margin-bottom: 0.5rem;
        font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
      }

      & p {
        font: 400 1rem/1.6 var(--ff-sans);
        color: var(--text-color-secundary);
      }
    }

    & #feature-2 {
      padding: 2.5rem 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      width: 37rem;
      height: 25rem;
      gap: 2rem;
      overflow: hidden;
      position: relative;

      & div:first-child {
        max-width: 17rem;
        height: auto;

        & img {
          margin-bottom: 1rem;
        }

        & h2 {
          margin-bottom: 0.5rem;
          font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
        }

        & p {
          font: 400 1rem/1.6 var(--ff-sans);
          color: var(--text-color-secundary);
        }
      }

      & div:nth-child(2) {
        height: auto;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        max-width: 15rem;
      }
    }

    & #feature-3 {
      padding: 2.5rem 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      width: 17.5rem;
      height: 25rem;

      & img {
        margin-bottom: 1rem;
      }

      & h2 {
        margin-bottom: 0.5rem;
        font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
      }

      & p {
        font: 400 1rem/1.6 var(--ff-sans);
        color: var(--text-color-secundary);
      }
    }
  }

  & #features-secundary {
    & div {
      height: 25rem;
      width: 37rem;
    }

    & #features-secundary-1 {
      padding: 2.5rem 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      height: 25rem;
      overflow: hidden;
      position: relative;

      & div:first-child {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        max-width: 15rem;

        & #img-features-secundary-1 {
          border: 1px solid white;
        }
      }

      & div {
        margin-left: auto;
        max-width: 17rem;
        height: auto;

        & img {
          margin-bottom: 1rem;
        }

        & h2 {
          margin-bottom: 0.5rem;
          font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
          letter-spacing: 0.04rem;
        }

        & p {
          font: 400 1rem/1.6 var(--ff-sans);
          color: var(--text-color-secundary);
        }
      }
    }

    & #features-secundary-2 {
      padding: 2.5rem 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      height: 25rem;
      overflow: hidden;
      position: relative;

      & div:first-child {
        max-width: 16rem;
        height: auto;

        & img {
          margin-bottom: 1rem;
        }

        & h2 {
          margin-bottom: 0.5rem;
          font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
          letter-spacing: 0.04rem;
        }

        & p {
          font: 400 1rem/1.6 var(--ff-sans);
          color: var(--text-color-secundary);
        }
      }

      & div:last-child {
        height: auto;
        position: absolute;
        top: 2rem;
        right: 2rem;
        max-width: 15rem;

        & #img-features-secundary-2 {
          border: 1px solid white;
        }
      }
    }
  }
}

/* section pricing */
#pricing {
  padding-block: 5rem;

  & #header-pricing {
    & p {
      font: var(--fw-md) 0.875rem/1 var(--ff-sans);
      letter-spacing: 8%;
      color: var(--brand-color-primary);
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    & h2 {
      font: var(--fw-bold) 3rem/1.2 var(--ff-sans);
      letter-spacing: -4%;
      color: var(--text-color-primary);
      margin-bottom: 2rem;
    }
  }

  & #table-pricing {
    & #basic {
      padding: 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      max-width: 24rem;
      height: 30rem;

      & h6 {
        font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
        color: var(--text-color-primary);
        margin-bottom: 4px;
      }

      & p {
        font: 400 1rem/1.6 var(--ff-sans);
        color: var(--text-color-secundary);
        margin-bottom: 1.5rem;
      }

      & h3 {
        font: var(--fw-bold) 2.5rem/1.2 var(--ff-sans);
        color: var(--text-color-primary);
        letter-spacing: -4%;
        margin-bottom: 1.5rem;
      }

      & button {
        padding: 0.75rem 1.5rem;
        border: 1px solid var(--text-color-primary);
        border-radius: 0.5rem;
        color: var(--text-color-primary);
        font-weight: 1.5rem;
        width: 100%;
        margin-bottom: 2rem;

        &:hover {
          color: var(--brand-color-primary);
          border-color: var(--brand-color-primary);
        }
      }

      & #line {
        margin-bottom: 2rem;
        width: 100%;
      }

      & ul {
        & li {
          margin-bottom: 1rem;

          & span {
            color: var(--text-color-secundary);
          }
        }
      }
    }

    & #premium {
      padding: 4.5rem 2rem 2rem 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--brand-color-primary);
      border-radius: 1.5rem;
      max-width: 24rem;
      height: 35rem;
      position: relative;

      & div:first-child span {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0.75rem 2rem;
        background-color: var(--brand-color-primary);
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1.5rem;
      }

      & h6 {
        font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
        color: var(--text-color-primary);
        margin-bottom: 4px;
      }

      & p {
        font: 400 1rem/1.6 var(--ff-sans);
        color: var(--text-color-secundary);
        margin-bottom: 1.5rem;
      }

      & h3 {
        font: var(--fw-bold) 2.5rem/1.2 var(--ff-sans);
        color: var(--text-color-primary);
        letter-spacing: -4%;
        margin-bottom: 1.5rem;

        & span {
          color: var(--text-color-secundary);
          font: 400 1rem/1.6 var(--ff-sans);
        }
      }

      & button {
        padding: 0.75rem 1.5rem;
        background-color: var(--text-color-primary);
        border-radius: 0.5rem;
        color: var(--bg-color);
        width: 100%;
        margin-bottom: 2rem;

        &:hover {
          background-color: var(--brand-color-primary);
        }
      }

      & #line {
        margin-bottom: 2rem;
        width: 100%;
      }

      & ul {
        & li {
          margin-bottom: 1rem;

          & span {
            color: var(--text-color-secundary);
          }
        }
      }
    }

    & #family {
      padding: 2rem;
      background-color: var(--surface-color);
      border: 1px solid var(--stroke-color);
      border-radius: 1.5rem;
      max-width: 24rem;
      height: 30rem;

      & h6 {
        font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
        color: var(--text-color-primary);
        letter-spacing: -4%;
        margin-bottom: 4px;
      }

      & p {
        font: 400 1rem/1.6 var(--ff-sans);
        color: var(--text-color-secundary);
        margin-bottom: 1.5rem;
      }

      & h3 {
        font: var(--fw-bold) 2.5rem/1.2 var(--ff-sans);
        color: var(--text-color-primary);
        letter-spacing: -4%;
        margin-bottom: 1.5rem;

        & span {
          font: 400 1rem/1.6 var(--ff-sans);
          color: var(--text-color-secundary);
        }
      }

      & button {
        padding: 0.75rem 1.5rem;
        border: 1px solid var(--text-color-primary);
        border-radius: 0.5rem;
        color: var(--text-color-primary);
        width: 100%;
        margin-bottom: 1.5rem;

        &:hover {
          color: var(--brand-color-primary);
          border-color: var(--brand-color-primary);
        }
      }

      & #line {
        margin-bottom: 1.5rem;
        width: 100%;
      }

      & ul {
        & li {
          margin-bottom: 1rem;

          & span {
            color: var(--text-color-secundary);
          }
        }
      }

      & p {
        font-weight: 0.875rem;
      }
    }
  }
}

/* section download */
#download {
  padding-block: 5rem;

  & #main-download {
    background-color: var(--surface-color);
    border-radius: 1.5rem;
    padding-inline: 5rem;

    & #content-download {
      & p:first-child {
        font: var(--fw-md) 0.875rem/1 var(--ff-sans);
        letter-spacing: 8%;
        text-transform: uppercase;
        color: var(--brand-color-primary);
        margin-bottom: 0.5rem;
      }

      & h3 {
        font: var(--fw-bold) 3rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
        color: var(--text-color-primary);
        margin-bottom: 0.5rem;
      }

      & p:nth-child(3) {
        color: var(--text-color-secundary);
        margin-bottom: 2.5rem;
      }
    }
  }
}

/* media */
@media (max-width: 576px) {
  .container-sml {
    padding-inline: 1.5rem;
  }

  /* configurar a navbar para celulares */
  #navbar {
    padding-block: 1rem;

    #logo a img {
      width: 5.25rem;
      height: 2rem;
    }

    #menu a {
      display: none;
    }
  }

  /* configurar a seção hero para celulares */
  #hero {
    padding-top: 4rem;

    & main #content-hero {
      & img {
        width: 12.8rem;
        height: 3.25rem;
        margin-bottom: 1rem;
      }

      & h1 {
        margin-bottom: 0.5rem;
        font: var(--fw-bold) 2.5rem/1.2 var(--ff-sans);
        letter-spacing: -4px;
      }

      & p {
        font: var(--fw-md) 1.25rem/ 1.4 var(--ff-sans);
      }
    }

    & #btn {
      display: flex;
      gap: 1rem;

      & button {
        padding: 0.75rem 1.5rem;
      }
    }
  }

  /* configurar a seção about para celulares */
  #about {
    height: 37rem;

    & #img-about {
      position: relative;
      top: -15rem;
      padding-inline: 1.5rem;
    }

    & #content-about {
      margin-top: -14rem;
      padding-bottom: 3rem;

      & h1 {
        font: var(--fw-bold) 1.5rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
      }
    }
  }

  /* configurar a seção features para celulares */
  #features {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & #features-primary {
      gap: 1.5rem;

      & #feature-1 {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & h2 {
          font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
          letter-spacing: -4%;
        }
      }

      & #feature-2 {
        width: 100%;
        height: auto;
        padding: 1.5rem;
        /* terminar a configuração do h2 */
        & div:first-child {
          & h2 {
            font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
            letter-spacing: -0.04em;
          }
        }
      }

      & #feature-3 {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & h2 {
          font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
          letter-spacing: -4%;
        }
      }
    }

    & #features-secundary {
      gap: 1.5rem;

      & #features-secundary-1 {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & div {
          & h2 {
            font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
            letter-spacing: 0.04em;
          }
        }
      }

      & #features-secundary-2 {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & div:first-child {
          & h2 {
            font: var(--fw-bold) 1.25rem/1.2 var(--ff-sans);
            letter-spacing: 0.04em;
          }
        }
      }
    }
  }

  /* configurar a seção pricing para celulares */
  #pricing {
    padding-block: 3rem;

    & #header-pricing {
      & p {
        margin-bottom: 0.5rem;
      }

      & h2 {
        font: var(--fw-bold) 1.5rem/1.2 var(--ff-sans);
        letter-spacing: -4%;
        margin-bottom: 2rem;
      }
    }

    & #table-pricing {
      & #basic {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & h3 {
          font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
          letter-spacing: -4%;
        }
      }

      & #premium {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & h6 {
          display: block;
        }

        & h3 {
          font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
          letter-spacing: -4%;
        }
      }

      & #family {
        width: 100%;
        height: auto;
        padding: 1.5rem;

        & h3 {
          font: var(--fw-bold) 2rem/1.2 var(--ff-sans);
          letter-spacing: -4%;
        }
      }
    }
  }

  /* configurar a seção download para celulares */
  #download {
    padding-block: 3rem;

    & #main-download {
      padding: 3rem 1.5rem;
      width: 100%;

      & #content-download {
        & h3 {
          font: var(--fw-bold) 1.5rem/1.2 var(--ff-sans);
          letter-spacing: -4%;
        }

        & div:last-child {
          width: 65%;

          & img {
            height: 3.5rem;
          }
        }
      }

      & #img-download {
        display: none;
      }
    }
  }
}
